# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Keystore and signing files (sensitive)
keystore.properties
*.keystore
*.jks

# Bundle artifacts
*.jsbundle

*.log
